$font-family-base: 'Myriad Pro';
$font-size-global: 24px;

$h1-font-size: 96px;
$h1-font-weight: bold;

$h2-font-size: 48px;
$h2-font-weight: bold;

$h3-font-size: 36px;
$h3-font-weight: bold;

$h4-font-weight: bold;

$h5-font-size: 18px;
$h5-font-weight: normal;

$primary: #FFE074;
$secondary: #D3A950;
$brown: #633623;
$info: #B97E38;
$gray: #B0988C;
$orange: #EDAF2D;
$brown-dark: #321A10;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px,
        xxl: 1918px
);

$theme-colors: (
        "primary": $primary,
        "gray": $gray,
        "brown": $brown,
        "brown-dark": $brown-dark,
);

$spacers: (
        20: 20px,
        30: 30px,
        40: 40px,
        50: 50px,
        60: 60px,
        70: 70px,
        100: 100px,
);

$input-border-radius: 200px;
$btn-border-radius: 200px;
$badge-border-radius: 50%;
