@media screen and (max-width: 992px) {
  nav {
    .container {
      padding: 0;
    }
  }

  .header {

    .most-people-franchise {
      padding: 0;

      h1 {
        font-size: 75px;
      }

      h2 {
        font-size: 36px;
      }

      h5 {

      }

      .most-people-franchise__img-wrap {
        margin-top: -10px;
      }
    }

    h1, h2, h3, h4 {

    }
  }

  .time-came {
    padding: 15px;
  }

  .bg-steps {
    background-size: cover;
  }

  .swiper-container {
    .swiper-slide {
      width: 100% !important;
    }
  }

  ul.list--seed {
    li:before {
      content: none;
    }
  }
}