@import 'variables';

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Regular-Cond.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Bold-Cond.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-Italic-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro-SemiBold.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
}

@keyframes arrow {
  0% {
    opacity: 0
  }
  40% {
    opacity: 1
  }
  80% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

html, body {
  width: 100%;
  overflow-x: hidden;
  line-height: normal;
  scroll-behavior: smooth;
}

body {
  font-size: $font-size-global;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-stretch: condensed;
  font-family: "Myriad Pro";
}

h1, .h1 {
  font-weight: $h1-font-weight;
  font-size: $h1-font-size;
}

h2, .h2 {
  font-weight: $h2-font-weight
}

h3, .h3 {
  font-weight: $h3-font-weight
}

h4, .h4 {
  font-weight: $h4-font-weight
}

h5, .h5 {
  font-size: $h5-font-size;
  font-weight: $h5-font-weight
}

.font-helvetica {
  font-family: HelveticaNeueCyr, serif;
  line-height: 125%;
}

.font-italic {
  letter-spacing: 1px;
}

.font-condensed {
  font-stretch: condensed;
}

.btn {
  line-height: 45px;
  font-size: 24px;
  font-weight: bold;
  font-stretch: condensed;
}

input, .btn {
  width: 428px;
  max-width: 100%;
  min-height: 60px;
}

.input-wrap {
  position: relative;
  input {
    background: #F4EDDA;
    font-size: 20px;
    border-radius: 200px;
    height: 55px;
    border: none;
    outline: none;
    font-weight: bold;
    padding-left: 90px;
    text-align: left;
    & + label {
      position: absolute;
      font-weight: bold;
      font-stretch: condensed;
      color: $secondary;
      pointer-events: none;
      top: 15px;
      width: 100%;
      margin: auto;
      text-align: center;
      z-index: 5;
      left: 0;
    }

    &:focus + label, &.not-empty + label {
      width: auto;
      left: 20px;
      font-size: 18px;
      top: 21px;
    }
  }
}

.btn-primary {
  color: #321A10 !important;
  background: $orange !important;
  border: none !important;
  border-top: solid $primary 2px !important;
  position: relative;
  box-shadow: none !important;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    z-index: -1;
    border-radius: $btn-border-radius;
    background: radial-gradient(283.27px at 11.44% 14.24%, #D3A950 0%, #B97E38 47.51%, #633623 100%);
  }

  &:hover {
    border-top: solid white 2px !important;
    background: $primary !important;

    &:before {
      box-shadow: 0px 10px 14px rgba(211, 169, 80, 0.4);
      background: radial-gradient(443.40px at 11.44% 14.24%, #D3A950 0%, #B97E38 47.51%, #633623 100%);
    }
  }
}

section {
  z-index: 1;
  position: relative;
}

nav.nav.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  padding-top: 40px;
}

.video-background {
  background: #000;

  .video-background__iframe-wrap {
    filter: blur(10px);
    z-index: -1;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.76);
      z-index: 1;
    }
  }

  .video-background__iframe-wrap, iframe {
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
  }

  @media (min-aspect-ratio: 16/9) {
    .video-background__iframe-wrap {
      height: 300%;
      top: -100%;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    .video-background__iframe-wrap {
      width: 300%;
      left: -100%;
    }
  }
}

.header {
  font-stretch: condensed;
  overflow: hidden;
  padding-top: 40px;
  font-size: 24px;

  .most-people-franchise {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    padding-right: 115px;

    h1 {
      font-size: 144px;
      margin: -22px 0 -18px 0;
    }

    h2 {
      font-size: 48px;

      &:last-of-type {
        display: flex;
        justify-content: space-between;
      }
    }

    h5 {
      font-size: 23px;
      color: #D3A950;
    }

    .most-people-franchise__img-wrap {
      margin-top: -30px;
      margin-right: -20px;
    }
  }

  h1, h2, h3, h4 {
    margin-bottom: 0;
  }
}

.card {
  z-index: 0;

  &.card--bg-gray {
    background: #F4EDDA;
    color: #633623;
    border-radius: 15px;
  }
}

.time-came {
  border: none;
  color: white;
  background: radial-gradient(1249.05px at 11.44% 14.24%, #D3A950 0%, #B97E38 47.51%, #633623 100%);
  box-shadow: 10px 44px 54px rgba(211, 169, 80, 0.43);
  border-radius: 15px;
  letter-spacing: 0.5px;
  padding: 97px 88px 20px 88px;
  position: relative;
  line-height: normal;
}

.cup {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  .cup__steam {
    margin-bottom: -50px;
    padding-right: 25px;
    margin-right: -25px;
  }

  .cup__layers {
    height: 185px;
    img {
      transition: opacity 0.1s ease-in;
      position: absolute;
    }
  }
}

.bg-white-gradient-top {
  background: linear-gradient(180deg, #fcfaf4 0, rgba(252, 251, 246, 0.5) 25%, rgba(252, 251, 246, 0) 50%);
}

.bg-splash {
  padding-bottom: 200px;
  overflow: visible;
  .bg-splash__image-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.bg-steps {
  background: url(../images/steps-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  overflow: visible;
  padding-top: 200px;
  padding-bottom: 270px;

  & + section {
    margin-top: -250px;
    z-index: 0;
  }
}

ul.list--seed {
  li:before {
    content: url('../images/seed.png');
    position: absolute;
    left: -55px;
    margin-top: -10px;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.38, 0.85, 0.56, 1.5);
  }

  li:hover:before {
    transform: scale(1);
  }
}

.arrows {
  width: 21px;
  height: 36px;

  path {
    stroke: $primary;
    fill: transparent;
    stroke-width: 4px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;

    &.a1 {
      animation-delay: -1s;
    }

    &.a2 {
      animation-delay: -0.5s;
    }

    &.a3 {
      animation-delay: 0s;
    }
  }
}

.cafe-case {
  font-weight: 500;
  color: $brown;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 85px;

  .d-flex {
    align-items: flex-end;

    h3 {
      min-width: 32%;
      line-height: 24px;
    }
  }

  small {
    font-size: 24px;
    line-height: 16px;
    vertical-align: bottom;
  }

  img {
    width: 92px;
    height: 92px;
  }
}

.months-without-royalty {
  background: radial-gradient(1305.61px at 11.44% 14.24%, #D3A950 0%, #B97E38 47.51%, #633623 100%);
  box-shadow: 10px 44px 54px rgba(211, 169, 80, 0.43);
  margin: 0 -40px;
  border-radius: 15px;
  padding: 53px 43px;
  color: white;
  position: relative;
  z-index: 1;
}

.founders-section {
  background-image: url("../images/founders.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  ul.founder-description {
    font-stretch: condensed;
    font-size: 24px;
    line-height: 30px;
    list-style: none;
    padding-left: 25px;
    li {
      margin-bottom: 1rem;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: -30px;
        top: 10px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: $gray;
      }
    }
  }

  .card {
    border: none;
  }
}

.diplomas-count-badge {
  color: white;
  font-weight: normal;
  width: 20px;
  height: 20px;
  font-size: 15px;
  vertical-align: top;
  margin-left: -13px;
  margin-top: -10px;
}

.map-section {
  #map {
    height: 100vh;
  }

  .map-section__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
  }
}

.reviews-tabs {
  border-bottom: none;
  a {
    padding: 0 80px;
    opacity: 0.3;
    color: #CF7D1D !important;
    text-decoration: none !important;
    &.active {
      opacity: 0.6;
    }
  }
}

.swiper-container {
  .swiper-slide {
    width: 75% !important;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;

    background-size: cover;
    //transition: opacity 0.3s ease-in !important;

    &.swiper-slide-prev, &.swiper-slide-next {
      opacity: 0.5;
    }

    &.swiper-slide-active {
      opacity: 1;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .navigation {
    z-index: 10;
    width: 40px;
    height: 60px;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    cursor: pointer;

    &.navigation--left {
      left: 5%;
      transform: scale(-1, 1);
      &:hover {
        transform: scale(-1.2, 1.2);
      }
    }

    &.navigation--right {
      right: 5%;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .swiper-button-disabled {
    opacity: 0.1
  }
}

.steps {
  line-height: 26px;
  .step-badge {
    width: 78px;
    height: 78px;
    padding: 12px;
    letter-spacing: -2px;
    background: radial-gradient(116.42px at 11.44% 14.24%, #D3A950 0%, #B97E38 47.51%, #633623 100%);
    border: 6px solid #F4EDDA;
    box-shadow: 10px 44px 54px rgba(211, 169, 80, 0.43);
    color: $brown;
    font-weight: bold;
    font-stretch: condensed;
    border-radius: 50%;
    font-size: 48px;
    line-height: 42px;
    font-style: normal;
    margin: auto auto 20px;
    transition: all 0.1s ease-in;

    &:hover {
      color: #FCD176;
      transform: scale(1.153);
    }
  }
}

.franchise-container {
  background: radial-gradient(2571.98px at 11.44% 14.24%, #D3A950 0%, #B97E38 47.51%, #633623 100%);
  box-shadow: 10px 44px 54px rgba(211, 169, 80, 0.43);
  border-radius: 15px;
  color: white;

  .big-bracket {
    font-size: 500px;
    font-stretch: extra-condensed;
    line-height: 400px;
    display: inline;
    margin-top: -55px;
    color: #321A10;
    opacity: 0.14;
  }

  img {
    mix-blend-mode: multiply;
    position: absolute;
    left: 35px;
  }
}

.trend-section {
  font-size: 24px;
  padding: 100px 0;
  background: radial-gradient(1741.35px at 11.44% 14.24%, #D3A950 0%, #B97E38 47.51%, #633623 100%);
  box-shadow: 10px 44px 54px rgba(211, 169, 80, 0.43);

  .trend-section__chart {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
  }

  .trend-value {
    font-size: 72px;
    font-weight: bold;
    line-height: 100px;
    color: white;
    font-stretch: condensed;
    background: url(../images/trend.png);
    padding: 200px 0;
    margin: -100px -2000px;
    background-position: center;
    background-repeat: no-repeat;
    h1 {
      display: inline-flex;
      font-size: 288px;
      margin-bottom: -37px;
      line-height: 241px;

      span:nth-of-type(1) {
        font-size: 96px;
        align-self: center;
        line-height: 54px;
      }
      span:nth-of-type(3) {
        font-size: 70px;
        line-height: 78px;
        align-self: flex-end;
      }
    }
  }
}

[data-aos="chart-anim"] {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000px;
  transition-property: stroke-dashoffset;
  //transform: translateZ(0);

  &.aos-animate {
    stroke-dashoffset: 0;
  }
}

[data-aos="marker-anim"] {

  .custom-marker {
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.38, 2.54);
    transform: translateY(100px);
    opacity: 0;
  }

  &.aos-animate {
    .custom-marker {
      transform: translateY(0px);
      opacity: 1;
    }
  }

}

.first-franchise {
  overflow: visible;
  .first-franchise__balloon-wrap {
    height: 300px;
    position: absolute;
    z-index: 3;
    pointer-events: none;
    transition: none !important;
  }
}

@keyframes balloon-wrap-anim {
  0% {
    transform: translateY(0px);
  }
  99% {
    transform: translateY(-2000px);
    opacity: 100;
  }
  100% {
    transform: translateY(-2000px);
    opacity: 0;
  }
}

@keyframes balloon-anim-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

@keyframes balloon-anim-2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}

@keyframes balloon-anim-3 {
  0% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

[data-aos="balloon-anim-1"] {
  top: -150px;
  left: 0;
  &.aos-animate {
    animation: balloon-wrap-anim 3s 2s forwards;
    img {
      animation: balloon-anim-1 1s 2s forwards;
    }
  }
}

[data-aos="balloon-anim-2"] {
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  &.aos-animate {
    animation: balloon-wrap-anim 3s 2s forwards;
    img {
      animation: balloon-anim-2 1s 2s forwards;
    }
  }
}

[data-aos="balloon-anim-3"] {
  right: -50px;
  top: 20%;
  img {
    transform: rotate(40deg);
  }
  &.aos-animate {
    animation: balloon-wrap-anim 3s 2s forwards;
    img {
      animation: balloon-anim-3 1s 2s forwards;
    }
  }
}

.custom-marker {
  width: 46px;
  height: 61px;
  margin-top: -60px;
  margin-left: -4px;
  background: url("../images/marker.png");
  &:hover {
    display: flex;
    align-items: center;
    font-family: "Myriad Pro", serif;
    color: white;
    font-stretch: condensed;
    font-style: italic;
    font-size: 14px;
    width: 144px;
    height: 94px;
    margin-top: -92px;
    background: url("../images/marker-hover.png") right no-repeat;
    padding: 16px 10px 42px 57px;
  }
}

@import "app-md";
@import "app-sm";